@media(min-width: 768px) {

    /******************************** Font size *****************************/

    h1 {
        font-size: 6rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 3rem;
    }

    p {
        font-size: 2rem;
    }    

    /******************************** Universales ************************/

    .font-small {
        font-size: 1.5rem;
    }

    .font-large {
        font-size: 4.5rem
    }

    /************************* Nav ************************/

    .nav-option {
        background: unset;
        box-shadow: unset;
        position: relative;
        text-align: right;
        height: unset;
    }

    .nav-option ul {
        padding: 3rem 0rem 0rem 0rem;
    }

    .nav-option ul li {
        display: inline-block;
        text-align: right;
        padding: 0rem 1.4rem;
    }

    .nav-icono {
        display: none;
    }

    .nav-option li:hover {
        background-color: unset;
    }

    .nav-option a:hover {
        color: #F1A700;
        transition: 0.4s;
    }

    .networks img:hover {
        width: 4.5rem;
    }
    
    .networks img:active {
        width: 3rem;
    }



    
    .active {
        transform: unset;
    }

    /******************************* My info *******************/

    .vector {
        width: 60%;
        height: 40rem;
    }

    .my-info-all {
        width: 65%;
        padding-top: 8rem;
    }

    .networks img {
        width: 4rem;
    }

    .my-info-description {  
        width: 140%;
    }

    .my-info-image {    
        margin-left: -5.5rem;
    }

    /********************************* My abilities *************************/

    .rectangule {
        background-size: 80%;
        background-position: -165%;
    }

    .flex {
        width: 430px;
        gap: 16rem
    }

    /**************************** My portfolio **************************/

    .portfolio-grid {
        row-gap: 8.5rem;
    }
}