@media(min-width: 1600px) {

    /********************************** My info ***************************************/

    .vector {
        width: 63%;
        height: 62rem;
    }

    .my-info-image {
        width: 90%;
        right: 12.5rem;
    }

    .my-info-description {
        width: 95%;
    }

    .my-info-experience {
        width: 63%;
    }

    
    /********************* Experience ***********************/

    .logo-experience {
        width: 19rem;
    }

    /********************** My abilities *********************/

    .flex {
        gap: 40rem;
        width: 730px;
        margin: auto;
    }
}