@media(min-width: 1025px) {

    /***************************** Universal *****************************/

    .font-large {
        font-size: 6rem;
    }

    .padding3 {
        padding: 5rem 0rem;
    }

    .networks img:hover {
        width: 5rem;
    }

    .networks img:active {
        width: 3rem;
    }
    /********************************** My info *****************************/

    .vector {
        height: 48rem;
    }

    .my-info-all {
        width: 70%;
    }

    .my-info-description {
        width: 100;
    }

    .my-info-image {
        margin-left: -3.5rem;
    }

    /********************************* My abilities *****************************/

    .flex {
        gap: 22rem;
        width: 520px;
    }

    /********************* My portfolio **************************/

    .portfolio-grid {
        row-gap: 10rem;
    }
}