@media(min-width: 481px) {

    /*********************************** Universal **********************/

    .font-large {
        font-size: 3.5rem;
    }

    .box-shadow {
        box-shadow: 0rem -1.5rem 0rem 0.85rem #F1A700;
    }
    
    .box-shadow-one {
        box-shadow: 0rem -1.5rem 0rem 0.85rem #242635;
    }

    .networks img:active {
        width: 2rem;
    }

    /************************************ My info ***********************/

    .my-info-all {
        width: 75%;
    }

    .my-info-image {
        margin-left: -6.5rem;
    }

    .my-info-experience {
        width: 65%;
    }

    /******************************* Experience ******************************/

    .experience-grid {
        width: 80%;
    }

    /* My abilities */

    .my-abilities-all {
        width: auto;
        margin: auto;
    }

    .flex {
        width: 335px;
        gap: 12rem;
    }

    .rectangule {
        background-size: 80%;
        background-position: -175%;
    }

    /******************************* My portfolio *************************************/

    .portfolio-grid {
        row-gap: 6.5rem;
    }
}
